@media screen and (min-width: 800px) {
  .home-wrapper {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-self: center;
    

    .home-inner-wrapper {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      width: 50%;
      align-self: center;
    }
  }
}

@media screen and (min-width: 1400px) { 

    .home-wrapper {
      .home-inner-wrapper {
        width: 40%;
      }
    }

}

@media screen and (min-width: 1800px) { 

  .home-wrapper {
    .home-inner-wrapper {
      width: 35%;
    }
  }

}