.share {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.share-wrapper {
  padding: 10px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;

  .share-top {
    display: flex;
    align-items: center;
    justify-content: center;


    .share-input {
      border: none;
      width: 80%;
      color: #fff;
      background-color: rgb(165, 165, 165);
      height: 4rem;
      border-radius: 10px;
      word-wrap: break-word;
      transition: ease-in-out all 0.2s;

      &:focus {
        outline: none;
        transition: ease-in-out all 0.2s;
        font-size: 20px;
      }
    }
  }


  .share-hr {
    margin: 20px;
  }


  .share-bottom {

    .share-button {
      border: none;
      padding: 10px;
      border-radius: 10px;
      background-color: green;
      font-weight: 500;
      cursor: pointer;
      color: #fff;
      font-size: 15px;
    }

    .share-options {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-around;

      .share-option {
        display: flex;
        align-items: center;
        cursor: pointer;
      }

      .share-icon {
        font-size: 25px;
        margin-right: 3px;
      }


      .share-option-text {
        color: #fff;
        margin-left: 3px;
      }
    }
  }

  
}